language: python
python:
  - "3.7-dev"  # 3.7.3 version ionos
# 3.9 development branch
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - python manage.py test