language: python
python:
  - "3.8-dev"  # 3.8.5 for ionos
# 3.9 development branch

# use mysql
services:
  - mysql

addons:
  chrome: stable

# init database
before_install:
  - mysql -e 'CREATE DATABASE myapp_test;'

# command to install dependencies
install:
  - pip install -r requirements.txt

# command to run tests
script:
  - python manage.py collectstatic
  - python manage.py test